{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Seek Hue - Color Quantizer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'seekhue/style.css' %}">
  </head>
  <div class="container">
    <body>
      <header>
        <h1>HEADLINE</h1>
        <h2><a href="{% url 'form' %}">Submit an image</a></h2>
      </header>

      <section>

      </section>

      <section>
        {% for image in image_list %}
        <div class="img-container">
          <a><img src="{{ image.source.url }}"></a>
        </div>
        <div class="img-container">
          <a><img src="{{ image.seekhue_sort.url }}"></a>
        </div>
        {% endfor %}
      </section>

      <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
      <script src="{% static 'seekhue/seekhue.js' %}"></script>
    </body>
  </div>
</html>
