/*================
SeekHue Stylesheet
================*/

.container {
  max-width: 90%;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
}

.img-container {
  flex: 1;
  margin: 0 auto;
}

img {
  max-width: 90%;
}
